 p {
    color:red; 
    font-size: medium; 
    font-weight: bold; 
    font-style: italic
}
/* /* /* bod/
    background-color: aqua;
} */

div{
    ter: blueviolet;
}
.queen{xt-align: center;
}
h1{
    color: brown;
}
#halal{
    font-size: 24px;
}
#aw some{
    font-size: 24px;
}
#great{
    font-size: 24px;
} */ 

.try{
    display: flex;
}